extends layout

block content
  h1 Abode APIs

  div
    h2 Say hello to abode apis

    script(type='text/javascript').
      /*var x = !{JSON.stringify(testObj)};
      var y = !{testObj};
      console.log(x);
      console.log(!{testObj});
      window.postMessage(!{testObj}, '*');*/

      // var responseData = !{JSON.stringify(responseData)}
      // window.ReactNativeWebView.postMessage(responseData);
